.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.left-box, .right-box {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.left-box {
    margin-right: 20px;
}

.right-box {
    margin-left: 20px;
}

input[type="text"], select, input[type="time"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

button[type="submit"], #inscribirMateriasBtn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #e74c3c; /* Rojo */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover, #inscribirMateriasBtn:hover {
    background-color: #c0392b; /* Rojo oscuro */
}

.arrow-icon {
    font-size: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
}