body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url("./simulacion-y-automatizacion-de-robotica(1).jpg") no-repeat center center fixed;
    background-size: cover;
}
.contenido {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}
.contenido img {
    width: 100px;
    margin-bottom: 20px;
}
.contenido h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}
.form-group {
    margin-bottom: 15px;
    text-align: left;
    position: relative;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="password"], input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}
input[type="password"]:focus, input[type="text"]:focus {
    border-color: #007BFF;
    outline: none;
}
.toggle-password {
    position: absolute;
    right: 10px;
    top: 35px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
}
.error-message {
    color: red;
    display: none;
    font-size: 14px;
    margin-top: 5px;
}
button {
    background-color: #ff4b5c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
}
button:hover {
    background-color: #e04350;
}